{% extends "app/base.html" %} {% block content %}
<body>
  <div class="container">
    <div class="table-responsive">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">
          <div class="row border m-3 p-5">
            <div class="col-md-6">Name</div>
            <div class="col-md-6">{{ form.name }}</div>
          </div>
          <div class="row border m-3 p-5">
            <div class="col-md-6">Email</div>
            <div class="col-md-6">{{ form.email }}</div>
          </div>
          <div class="row border m-3 p-5">
            <div class="col-md-6">Avatar</div>
            <div class="col-md-6">
              <img src="{{ profile.avatar.url }}" width="100rem" />
              {{ form.avatar }}
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock content %}
